{{- $fileName := .Get "file" | default "site_stats" -}}
{{- $data := index site.Data $fileName -}}
{{- if not $data -}}
  {{- errorf "stat shortcode: data/%s.yaml not found or empty" $fileName -}}
{{- end -}}
{{- $path := split (.Get 0) "." -}}
{{- $val := $data -}}
{{- range $path -}}
  {{- if not $val -}}
    {{- errorf "stat shortcode: key %q not found in %s.yaml" . $fileName -}}
  {{- end -}}
  {{- $val = index $val . -}}
{{- end -}}
{{- if eq $val nil -}}
  {{- errorf "stat shortcode: path %q resolved to nil in %s.yaml" (.Get 0) $fileName -}}
{{- end -}}
{{- $val -}}
